name: Build

on:
  workflow_call:
    inputs:
      publish-artifact:
        default: false
        required: false
        type: boolean
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Rust Setup
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: "stable"

      - uses: Swatinem/rust-cache@v2

      - name: Run tests
        run: cargo test -- --test-threads=1 --nocapture
        env:
          CLIENT_NOTIFICATIONS_GOOGLE_SERVICE_ACCOUNT_KEY: ${{ secrets.CLIENT_NOTIFICATIONS_GOOGLE_SERVICE_ACCOUNT_KEY }}
          GOOGLE_CLIENT_NOTIFICATIONS_SENDER_ID: ${{ secrets.GOOGLE_CLIENT_NOTIFICATIONS_SENDER_ID }}

  # Build on GitHub-hosted runner
  build:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Rust Setup
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: "stable"
          targets: "x86_64-unknown-linux-musl"
      - uses: Swatinem/rust-cache@v2

      - uses: awalsh128/cache-apt-pkgs-action@v1
        with:
          packages: musl-tools # provides musl-gcc
          version: 1.0

      - name: Build the project to `musl` output
        working-directory: ./server
        run: "cargo build --release --target x86_64-unknown-linux-musl"

      - run: touch config.toml

      - name: Archive production artifacts
        uses: actions/upload-artifact@v4
        if: ${{ inputs.publish-artifact }}
        with:
          name: build-musl
          path: |
            target/x86_64-unknown-linux-musl/release/yral-metadata-server
            config.toml
